################################
# Node / 前端依赖
################################
node_modules/

################################
# 构建产物
################################
dist/

################################
# Vite
################################
.vite/

################################
# 日志
################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

################################
# 环境变量
################################
.env
.env.*
!.env.example

################################
# IDE / 编辑器
################################
.idea/
.vscode/
*.iml

################################
# 操作系统
################################
.DS_Store
Thumbs.db

################################
# 其他
################################
*.tmp
*.bak
